<nav id="sidebar" style="margin-top:15px;">
    <ul class="list-unstyled components" id="Menu_List">
        <li class="hidden">
            <a href="#employeeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Employés</a>
            <ul class="collapse list-unstyled" id="employeeSubmenu">
                <li>
                    <a href="javascript:void(0)" id="Employe_Employes_Menu">Liste des employés</a>
                </li>
            </ul>
        </li>
        <li class="hidden">
            <a href="#menuSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Menu</a>
            <ul class="collapse list-unstyled" id="menuSubmenu">
                {{!-- <li>
                    <a href="javascript:void(0)" id="Menu_Liste_Menu">Voir la Liste des Menu</a>
                </li> --}}
                <li class="lastoflist">
                    <a href="javascript:void(0)" id="Item_Liste_Menu">Voir le menu</a>
                </li>
            </ul>
        </li>
        <li class="hidden">
            <a href="#inventaireSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Inventaire</a>
            <ul class="collapse list-unstyled" id="inventaireSubmenu">
                <li>
                    <a href="javascript:void(0)" id="Inventaire_Liste_Menu">Afficher l'inventaire</a>
                </li>
                <li class="lastoflist">
                    <a href="javascript:void(0)" id="Inventaire_ModifierTout_Menu">Modifier l'inventaire</a>
                </li>
            </ul>
        </li>
        <li class="hidden">
            <a href="#plantableSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Salles</a>
            <ul class="collapse list-unstyled" id="plantableSubmenu">
                <li class="lastoflist">
                    <a href="javascript:void(0)" id="Salle_Liste_Menu">Liste des salles</a>
                </li>
            </ul>
        </li>
        <li class="hidden">
            <a href="#fournisseurSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Fournisseur</a>
            <ul class="collapse list-unstyled" id="fournisseurSubmenu">
                <li>
                    <a href="javascript:void(0)" id="Fournisseur_Liste_Menu">Liste des fournisseurs</a>
                </li>
                <li class="lastoflist">
                    <a href="javascript:void(0)" id="Commande_Liste_Menu">Historique des commandes</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

        